body {
  font-family: $f;
  font-size: $size-m;
  line-height: 15.6px;
  background-color: white;
  color: black;
  padding: $pady $padx;

  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 674px;
}

h1,
h2,
a,
b {
  font-weight: bold;
  color: $tabaco;
}

h1,
h2 {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.05em;
}

h2 {
  background-color: $tabaco;
  color: white;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
}

.text {
  width: 674px;

  p {
    padding-bottom: 0.8em;
  }
  padding-bottom: 0.5em;

  &--small {
    width: 603px;
  }
}

.table {
  width: 646px;
  padding-left: 14px;

  &__top {
    border: 1px solid $tabaco;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  &__block {
    background-color: $salmon;

    position: relative;

    &::after {
      display: block;
      width: 27px;
      height: 27px;
      position: absolute;
      top: 3em;
      content: "";
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--shaperight {
      &::after {
        background-image: url("../static/flecha-stroke.svg");
        right: 3px;
        transform: translateX(100%);
        z-index: -1;
      }
    }
    &--shapeleft {
      &::after {
        background-image: url("../static/flecha-light.svg");
        left: -3px;
        z-index: 1;
      }
    }

    &__list {
      padding: 15px 35px 5px 35px;

      &--large {
        padding: 15px 5px 5px 35px;
      }
      &--paddingtop {
        padding: 30px 5px 5px 35px;
      }
    }

    li {
      padding-bottom: 0.6em;
      position: relative;
      display: flex;
      gap: 11px;

      font-size: $size-s;
      line-height: 14.4px;


      b {
        color:inherit;
      }

      &::before {
        display: inline-block;
        width: 18px;
        height: 18px;
        content: "";
        background-image: url("../static/check.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        flex-shrink: 0;
      }
    }
  }
}
