@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../static/fonts/HelveticaNeueLTStd-Roman.eot');
    src: url('../static/fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
        url('../static/fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
        url('../static/fonts/HelveticaNeueLTStd-Roman.ttf') format('truetype'),
        url('../static/fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../static/fonts/HelveticaNeueLTStd-Bd.eot');
    src: url('../static/fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
        url('../static/fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
        url('../static/fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
        url('../static/fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

