// Media queries
// $media-desktop: "only screen and (max-width : 1024px)";
// $media-tablet: "only screen and (max-width : 990px)";
// $media-mobile: "only screen and (max-width : 767px)";
// $media-mobile-sm: "only screen and (max-width : 375px)";

// Colors
$tabaco: #993300;
$salmon: #F4E8E3;

// Spacing
$padx: 57px; 
$pady: 13px; 

// Fonts
$f: 'Helvetica Neue LT Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Font-sizes
$size-m: 13px; 
$size-s: 12px; 
